{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="welcome-title">
  <h1>Welcome, {{ user.username }}.</h1>
</div>
{% endif %}
<div class="last-results">
  <h4 class="result-title">{{ 'yesterday\'s diversity overview'|upper }}</h4>
  <span><b>Ammount of programmes:</b> 8</span>
  <span><b>Total length:</b> 44m 57s</span>
  <div class="row charts-imgs text-center">
    <div class="screen-presence col-lg-6"><img class="screen-img" src="data:image/png;base64,{{ chart_uri }}" width="500px"></div>
    <div class="speaking-time col-lg-6"><img class="speaking-img" src="data:image/png;base64,{{ chart_uri }}" width="500px"></div>
  </div>
</div>
{% endblock %}
